# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (if you don't commit vendor)
# vendor/

# Environment variables file
.env

# Build output
annict-slack-bot

# custom rule
## backup directories
bk/

# loacal document
doc/

# GraphQL Schema
schema/annict/schema.graphql
.DS_Store
